<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <header>
    
  </header>
  <main>
    <h1 class="league.hd">justice league heroes</h1>
    <ol><li><h4>Black adam</h4></li>
   <p>this hero is ranked as the first strongest hero because of his increased
    speed stamina <br>and magic makes him one of the most strongest heroes in DC
    he is also known<br>for being able to control lightening. </p>
 <br> <img src="images/black adam. jpg.png">
   <li><h4>superman</h4></li>
   <p>superman the man of steel is ranked as the second strongerst heroes in<br>justice league
    he is the last son of krypton and has increased speed and strength and can also produce lasers from <br>his eyes
    but he totally has no stand were black adam is</p>
    <br> <img src="images/superman ps.png" >
    <li><h4>shazam</h4></li>
   <p> this hero is almost equivalent to black adam because their powers are of the same<br>source but he is ranked as the third strongest hero in DC comics and in 
    justice leauge he is able to control lightening and has speed strength and stamina</p>
   <br> <img src="images/shazam. jpg..png" >
   <li><h4>flash</h4></li>
   <p>
    the flash that's him the fastest man alive has increased speed and is<br>the most fastest hero in DC
    he is ranked as the top fourth strongest hero in justice league he is faster than every<br>hero 
    in justice league and DC alike
   </p>
   <br> <img src="images/flash .jpg" > 
   <li><h4>Aquaman</h4></li>
   <p>
    aquaman the metahuman that has the ability to swim underwater this hero also posseses<br>strength and power but not as much as the above heroes
    he is invincible because nothing of the earth can hurt him except it is from<br>the ocean or seas
    he is ranked as the fifth justice league character
   </p> 
   <br> <img src="images/Untitled.png" >
   <li><h4>Batman</h4></li>
   this is the least if this heroes he is ranked the sixth strongest hero in DC
   this is the famous Bruce wayne behind the mask he<br>is extremly rich and becomes a masked man 
   in the night known as <i>the Batman</i> he may not be the strongest but he is the smartest
   <br> <img src="images/batman .jpg">
</ol>    
  </main>
  <footer></footer>  
</body>
</html>